<%- include("partials/header") -%>


    <header id="header" class="header">
        
        <div class="header-content" style="margin-bottom:25px; background-color: rgb(255, 255, 255);">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="text-container mt-5 ">
                            <h1><span class="turquoise font-weight-bold display-4">FEC InFocus</span></h1>

                            <p class="p-large mt-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam
                                necessitatibus ex, ad facere esse, fugit iste officiis, aperiam soluta doloribus
                                corporis quis! Reiciendis aut quisquam iusto, soluta tempora quas odio expedita ratione.
                                accusantium inventore? Reprehenderit, laborum placeat! Enim culpa accusamus ducimus
                                a
                            </p>
                            </div> <!-- end of text-container -->
                    </div> <!-- end of col --> <!-- end of col -->
                </div> 
                <div class="row">
                    
                       
                            <h3><span class="turquoise font-weight-bold display-4" style="font-size:X-large;">Series Of Fec InFocus</span></h3>

                            <section class="text-gray-600 body-font overflow-hidden">
                                <div class="container px-5 py-24 mx-auto">
                                  
                                  <div class="flex flex-wrap -m-4">
                                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                                      <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
                                        <h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2>
                                        <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none" style="border-color:rgba(0,  18,  63);">100 K</h1>
                                        
                                        
                                        <div style="text-align: center;"><p class="flex items-center text-gray-600 mb-6 " >
                                        Initial Portfolio amount
                                     </p></div>
                                        
                                     
                                        <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                                      </div>
                                    </div>
                                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                                      <div class="h-full p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden "style="border-color:#7ED957;" >
                                         <h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2>
                                         <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none" style="border-color:rgba(0,  18,  63);">100</h1>
                                       
                                        <div style="text-align: center;"><p class="flex items-center text-gray-600 mb-6 " >
                                            Initial Portfolio amount
                                     </p></div>
                                        
                                       
                                        <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                                      </div>
                                    </div>
                                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                                      <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
                                        <h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2>
                                        <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none" style="border-color:rgba(0,  18,  63); ;">10 K</h1>
                                        
                                        
                                        <div style="text-align: center;"><p class="flex items-center text-gray-600 mb-6 " >
                                            Initial Portfolio amount
                                     </p></div>
                                        
                                     
                                        <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                                      </div>
                                    </div>
                                   
                                    
                                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                              
                                  <div class="h-full p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden" style="border-color:#7ED957;">
                                         <h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2>
                                         <h1 class="text-5xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none" style="border-color:rgba(0,  18,  63); ;">100</h1>
                                       
                                        <div style="text-align: center;"><p class="flex items-center text-gray-600 mb-6 " >
                                            Initial Portfolio amount
                                     </p></div>
                                        
                                       
                                        <p class="text-xs text-gray-500 mt-3">Literally you probably haven't heard of them jean shorts.</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                </div> 
                <!--
                <div class="row">
                   
                            <h1><span class="turquoise font-weight-bold display-4" style="font-size:X-large;">Portfolio</span></h1>

                            <section class="text-gray-600 body-font overflow-hidden">
                                <div class="container px-5 py-24 mx-auto">
                                  
                                  <div class="flex flex-wrap -m-4">
                                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                                      <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
                                        <h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2>
                                        <h1 class="text-3xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none" style="border-color:rgba(0,  18,  63);">Heidelberg <br> Cements</h1>
                                        
                                        
                                        <div style="text-align: center;"><p class="flex items-center text-gray-600 mb-6 " >
                                         abc
                                     </p></div>
                                        
                                     
                                        <p class="text-xs text-gray-500 mt-3">Cement <br> Sector</p>
                                      </div>
                                    </div>
                                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                                      <div class="h-full p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden "style="border-color:#7ED957;" >
                                         <h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2>
                                         <h1 class="text-3xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none" style="border-color:rgba(0,  18,  63);">Heidelberg <br> Cements</h1>
                                       
                                        <div style="text-align: center;"><p class="flex items-center text-gray-600 mb-6 " >
                                       abc
                                     </p></div>
                                        
                                       
                                        <p class="text-xs text-gray-500 mt-3">Cement <br> Sector</p>
                                      </div>
                                    </div>
                                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                                      <div class="h-full p-6 rounded-lg border-2 border-gray-300 flex flex-col relative overflow-hidden">
                                        <h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2>
                                        <h1 class="text-3xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none" style="border-color:rgba(0,  18,  63);align-items: center ;">Heidelberg <br> Cements</h1>
                                        
                                        
                                        <div style="text-align: center;"><p class="flex items-center text-gray-600 mb-6 " >
                                          abc
                                     </p></div>
                                        
                                     
                                        <p class="text-xs text-gray-500 mt-3">Cement <br> Sector</p>
                                      </div>
                                    </div>
                                   
                                    
                                    <div class="p-4 xl:w-1/4 md:w-1/2 w-full">
                              
                                  <div class="h-full p-6 rounded-lg border-2 border-indigo-500 flex flex-col relative overflow-hidden" style="border-color:#7ED957 ;">
                                         <h2 class="text-sm tracking-widest title-font mb-1 font-medium"></h2>
                                         <h1 class="text-3xl text-gray-900 pb-4 mb-4 border-b border-gray-200 leading-none" style="border-color:rgba(0,  18,  63); ;">Heidelberg <br> Cements</h1>
                                       
                                        <div style="text-align: center;"><p class="flex items-center text-gray-600 mb-6 " >
                                   abc
                                     </p></div>
                                        
                                       
                                        <p class="text-xs text-gray-500 mt-3">Cement <br> Sector</p>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div> <!-- end of text-container -->
                    </div> <!-- end of col --> <!-- end of col -->
               
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->

    <!-- Site footer -->
      <!-- Site footer -->
      <%- include("partials/footer") -%>  